
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.avatar {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 5px;
    border: #00008b solid 7px;
    background-color: white;

    margin: 0 auto;
}


#bottone5 {
  align-items: center;
  background-color: #00008b;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
 }
 
 #bottone5:hover,
 #bottone5:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
 }
 
 #bottone5:hover {
  transform: translateY(-1px);
 }
 
 #bottone5:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
 }

 .nav-item {
  color: #eee;
 }

 .box1 {
    border: black 1px;
   font-size: larger;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    list-style-type: none;
    line-height: 1.5;
    background-color: #eee;
    margin-bottom: 5px;
    padding: 2px;
 }
 .icon1 {
    width: 48px; /* Ajuste o tamanho conforme necessário */
    height: 48px;
   margin-top: -0.5rem;
   margin-left: -0.5rem;
   margin-right: -0.5rem;
}

.box2 {
    border: black 1px;
   font-size: larger;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    list-style-type: none;
    line-height: 1.5;
    background-color: #eee;
    margin-bottom: 5px;
    padding: 2px;
}

 .icon2 {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: 30px;
    vertical-align: middle;
    border-right: 10rem;
    margin-right: 3px;
    margin-left: 10px;
    margin-top: 1px;
 }
.box3 {
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    background-color: #eee;
    margin-bottom: -3rem;
    justify-content: center;
    text-align: center;
   padding: 10px;
}
.icon3 {
    width: 35px; /* Ajuste o tamanho conforme necessário */
    height: 35px;
    margin: 0 auto;
    vertical-align: middle;
    border-right: 10rem;
    margin-right: 15px;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 15px;

    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;

    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('fundo.jpg'); /* Caminho para a imagem de fundo */
    background-size: cover;   /* Faz com que a imagem cubra toda a página */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* Faz com que a imagem fique fixa durante o scroll */
}

.processo {
   
   line-height: 5.0;
}
header {
    
    color: black;
    padding: 1rem 0;
    text-align: center;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li a {
    color: black;
    text-decoration: none;   
   
}

section {
    padding: 2rem;
}

h1 {
    margin-top: -1rem;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    color: #eee;
    font-size: large;
}

.h1 {
    margin-top: 10px;
}
p {
    color: #eee;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
}
 
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

.faq-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    overflow: hidden;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    background-color:#00008b;
    color: white;
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
}

.faq-question:hover {
    background-color:#00008b;
}

.arrow {
    font-size: 20px;
    transition: transform 0.3s ease;
}

.faq-answer {
    padding: 15px;
    background-color:#00008b;
    color: white;
    display: none; /* Inicialmente escondida */
}

.faq-answer p {
    margin: 0;
}

/* Estilo para a seta interativa */
.rotate {
    transform: rotate(180deg);
}

.text {
    color: white;
}


.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color:#24d464;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  
  
  .content {
    width: 50%;
    max-width: 120px;
    padding: 10rem;
}

.carousel {
    position: relative;
    max-width: 35%;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%; 
    width: 200px;
    height: 500px;/* Cada imagem ocupa 100% da largura do contêiner */
    margin-bottom: -4rem;
}

img {
    width: 100%;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* From Uiverse.io by Na3ar-17 */ 
.container * {
    padding: 0;
    margin: 0;
  }
  
  .card {
    width: 350px;
    height: 110px;
    background-color: #1e293b;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 40px 1fr;
    margin: 0 auto;
  }

  .text {
    font-size: 15px;

  }
  .card .header {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .card .header .title {
    color: #7dd3fc;
    font-size: 13px;
    padding: 2px 12px;
  }
  
  .card .header .copy {
    position: absolute;
    background: transparent;
    border: none;
    top: 220%;
    right: 1px;
    transform: translate(-50%, -50%);
    color: rgb(100, 116, 139);
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 100;
  }
  
  .card .header .copy:hover {
    color: rgb(148, 163, 184);
  }
  
  .card .header::before {
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #64748b4d;
    right: 1px;
    bottom: 0;
    background-color: #33415580;
    width: 282px;
    height: 33px;
    z-index: 100;
  }
  
  .card .header::after {
    position: absolute;
    width: 22%;
    height: 1px;
    background-color: #7dd3fc;
    bottom: 0;
  }
  
  .card .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-left: 10px;
  }
  
  .card .footer .code {
    display: flex;
    align-items: center;
  }
  
  .card .footer .code .icon {
    color: rgb(244, 114, 182);
    padding-top: 3px;
  }
  
  .card .footer .code .text {
    padding-left: 3px;
    color: #f8fafc;
  }
  

  .topicos {
    align-items: center;
    background-color: #00008b;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
  }


@media (max-width: 600px) {
    .box {
        flex: 1 1 100%; /* As caixas ocupam 100% da largura da tela */
    }
}
